<div portfolio-mdl>
  <div class="mdl-card__media">
    <img class="article-image" src="{{portfolio.image}}" border="0" alt="">
  </div>
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{portfolio.title}}</h2>
  </div>
  <div class="mdl-card__supporting-text">{{portfolio.text}}</div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" routerLink="/portfolio/example/{{portfolio.id}}">Read more</a>
  </div>
</div>
