.demo-layout-transparent {
  background: #333;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.demo-list {
  margin: 0;
  padding: 0;
}
.mdl-card__supporting-text {
  padding: 0;
}
